@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color:#0f1014;
    --light-color:#ffffff;
    --gray-color:#d0d4ed;

}
*{
    padding: 0;
    margin: 0;
}
* , ::before, ::after{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: var( --light-color);
    background-color: #efefef;

}
h2{
    font-size: 3em;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    margin-bottom: 20px;
}
u1{
    list-style: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.wrapper>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    min-height: 500px;
    margin: 0 auto;
    background-color: var( --main-color);
    overflow: hidden;
    box-shadow: rgba(0,0,0,0,.45) 0 25px 20px -20px;

}
:is(.signup) > div{
    position: relative;
    flex: 1 0 50%;
    padding: 60px;
}
a{
    text-decoration: none;
}
.content-heading .y-style{
    display: flex;
    flex-direction: column;
}
.logo a{
    display: inline-block;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 700;
    color: #f92525;
}
.logo span{
color: var(--gray-color);
}
.content-heading p{
    color: var(--gray-color);
}
.content-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


form input:not(#terms,#remember){
    font-family: inherit;
    width: 100%;
    outline: none;
    margin: 0 0 20px;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid var(--gray-color);

}

form input::placeholder{
    color: var(--gray-color);
}


.role {
    display: block;                
    text-align: left;            
    width: 100%;                   
    margin-top: 20px;              
}

.radio-button {
    display: inline-flex;          
    margin-right: 20px;            
    margin-bottom: 10px;           
}


.radio-button input {
    margin-right: 5px;             
}


form button{
    background-color: #f92525;
    color: white;
    width: 100%;
    margin: 30px 0;
    border: 0;
    line-height: 42px;
    border-radius: 7px;
    font-weight:70;
    cursor: pointer;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;

}
button:hover{
    background-color:#2c4077;
}

.afterform{
    text-align: center;
    margin-top: 20px;
}
.form .check{
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    float: left;

}

.form .check input{
    position: absolute;
    left: 0;
    top: 4px;
}

form label a, .afterform a{
    color: var(#3ceb10);

}
form :is(p, label) a:hover .afterform a:hover{
    border-bottom: 1px dotted;
}

.generated-id {
    font-size: 12px;
    font-weight: 200;
    color: #4CAF50;               
    margin-top: 20px;              
}



 
@media screen and (min-width : 768px){
    .wrapper>div{
        flex-direction: row;
        max-width: 800px;
    }
    .signup .content-heading .y-style{
        height: 100%;
        justify-content: space-between;
    }
}